<h1>Tweet Sentiment Analyzer</h1>
<p>Provide a Twitter ("ğ•") handle to analyze their tweet sentiment</p>

<%= form_for :user, url: "tweets/show", method: "get" do |form| %>
  <%= form.text_field :twitter_handle %>
  <%= form.submit "Submit Twitter Handle" %>
<% end  %>